<h3><b> admin-Cv App</b></h3>

<nav>
  <ul>
    <li>
      <a routerLink="/header" routerLinkActive="active">header</a>
    </li>
    <li>
      <a routerLink="/workexperience" routerLinkActive="active">work-experience</a>
    </li>
    <li>
      <a routerLink="/education" routerLinkActive="active">education</a>
    </li>
    <li>
      <a routerLink="/certificates" routerLinkActive="active">certificates</a>
    </li>
    <li>
      <a routerLink="/skills" routerLinkActive="active">skills</a>
    </li>
    <li>
      <a routerLink="/languages" routerLinkActive="active">languages</a>
    </li>
    <li>
      <a routerLink="/interests" routerLinkActive="active">interests</a>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>

