<div class="container color-dark">

    <div class="col">

        <p>interests items</p>

    </div>

</div>
<div class="container color-light">

    <div class="col">

        <form>
            <input type="text" class="txt" name="descripcion" placeholder="descripcion" [(ngModel)]="myInterests.descripcion"><br>
            <input type="submit" class="btn" value="{{ btnTxt }}" (click)="AgregarInterests()">
        </form>
    </div>

    <div class="col">
        <p class="life-container" *ngFor="let interests of interests;">
            <input type="submit" class="btn" value="update" (click)="updateInterests(interests.id)">
            <input type="submit" class="btn" value="delete" (click)="deleteInterests(interests.id)">
            {{interests.descripcion}}
        </p>

    </div>

</div>

