<div class="container color-dark">

    <div class="col">

        <p>languages items</p>

    </div>

</div>
<div class="container color-light">

    <div class="col">

        <form>
            <input type="text" class="txt" name="language" placeholder="language" [(ngModel)]="myLanguage.language"><br>
            <input type="submit" class="btn" value="{{ btnTxt }}" (click)="agregarLanguage()">
        </form>
    </div>

    <div class="col">
        <p class="life-container" *ngFor="let language of languages;">
            <input type="submit" class="btn" value="update" (click)="updateLanguage(language)">
            <input type="submit" class="btn" value="delete" (click)="deleteLanguage(language.id)">
            {{language.language}}
        </p>

    </div>

</div>
